.idea
.vscode

.venv/
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

# Other files
Dockerfile
docker-compose.prod.yml
socketclient.htmlcov
test_socketio.py
test.py

