[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-pymongo = "*"
greenlet = "*"
flask-socketio = "*"
eventlet = "*"
isodate = "*"
hashids = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"
coverage = "*"

[requires]
python_version = "3.7"
